.globalColor1{
    color:#453848;
}
.globalBgColor1{
    background-color:#453848;
}
.globalSectionMargin{
    margin-top:150px;
}
.navShadow{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.logoShadow{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.bannderImageShadow{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.rendomProductShadow{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.inspiredShadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.rendomProductsAnimation{
    transition: transform 1.2s ease;
}
.rendomProductsAnimation:hover{
    transform: scale(1.1);
}
.mickeyImgAnimation{
    transition: transform 1.5s ease;
}
.mickeyImgAnimation:hover{
    transform: rotate(360deg);
}
.slideUpAnimation {
    animation-name: slide-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.slideLeft {
    animation-name: slideleft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
.slideRight {
    animation-name: slideright;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slideright {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}